{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="mb-4">♻️ Nowe zgłoszenie odbioru odpadów</h2>
    
    <form method="POST" id="pickup-form">
        {% csrf_token %} 
        <div class="card shadow-sm mb-4">
            <div class="card-header bg-light fw-bold">Dane logistyczne</div>
            <div class="card-body row">
                
                <div class="col-md-6 mb-3">
                    <label for="{{ form.mpk_number.id_for_label }}" class="form-label">Numer MPK</label>
                    {{ form.mpk_number }}
                    <div class="text-danger small">{{ form.mpk_number.errors }}</div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="{{ form.location.id_for_label }}" class="form-label">Lokalizacja</label>
                    {{ form.location }}
                    <div class="text-danger small">{{ form.location.errors }}</div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="{{ form.contact_phone.id_for_label }}" class="form-label">Telefon kontaktowy dla kierowcy</label>
                    {{ form.contact_phone }}
                    <div class="text-danger small">{{ form.contact_phone.errors }}</div>
                </div>

                <div class="col-md-12 mb-3">
                    <label for="{{ form.note.id_for_label }}" class="form-label">Dodatkowe uwagi (opcjonalnie)</label>
                    {{ form.note }}
                    <div class="text-danger small">{{ form.note.errors }}</div>
                </div>
            </div>
        </div>

        <div class="card shadow-sm mb-4">
            <div class="card-header bg-light fw-bold">Wybór pojemników do odbioru</div>
            <div class="card-body">
                
                <p class="text-muted small mb-0" id="bins-instruction">
                    <i class="bi bi-info-circle me-1"></i> Wybierz najpierw Lokalizację powyżej, aby zobaczyć przypisane do niej pojemniki.
                </p>
                <div id="visual-bins-container" class="row g-3 mt-1">
                </div>

            </div>
        </div>
        <div class="text-end">
            <a href="/" class="btn btn-light me-2">Anuluj</a>
            <button type="submit" class="btn btn-success px-4 fw-bold">Wyślij Zgłoszenie</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/dynamic_bins.js' %}"></script>
{% endblock %}